:root{
    --primario: #04BFBF;
    --secundario: #89D9D9;
    --claro: #BAD9D9;
    --contraste: #F2F2F2;
    --blanco: #FFFFFF;
    --obscuro: #0D0D0D;
    --fuenteprincipal: 'Oxygen', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: var(--claro);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--primario);
    font-family: var(--fuenteprincipal);
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 1rem 0;
    height: 10rem;
    width: 10rem;
}

.navegacion{
    background-color: var(--obscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace{
    font-family: var(--fuenteprincipal);
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.navegacion__enlace:hover,
.navegacion__enlace--activo{
    color:var(--primario);
}

.footer{
    background-color: var(--obscuro);
    padding: .5rem 0;
    margin-top: 2rem;
}

.footer__parrafo{
    font-family: var(--fuenteprincipal);
    text-align: center;
    font-size: 1rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto{
    background-color: var(--contraste);
    padding: 1rem;
}

.producto__imagen{
    width: 100%;
}

.producto__nombre{
    font-size: 4rem;
    color: var(--primario);
}

.producto__descripcion{
    font-size: 2.8rem;
    color: var(--obscuro)
}

.producto__nombre,
.producto__descripcion{
    font-family: var(--fuenteprincipal);
    margin: 1rem 0;
    text-align: center;
}