:root{
    --primario: #04BFBF;
    --secundario: #89D9D9;
    --claro: #BAD9D9;
    --contraste: #F2F2F2;
    --blanco: #FFFFFF;
    --obscuro: #0D0D0D;
    --gris: #9E9E9E;
    --resaltar: #06A0D6; /*sea grego este color, solo para probar con el botón en el evento hover, pero me agrado más que quedará con fondo blanco y el hover con color primario*/
    --fuenteprincipal: 'Oxygen', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: var(--claro);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--primario);
    font-family: var(--fuenteprincipal);
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}

/*bloque header*/

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 1rem 0;
    height: 15rem;
    width: 15rem;
}

/*bloque navegacion*/

.navegacion{
    background-color: var(--obscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

.navegacion__enlace{
    font-family: var(--fuenteprincipal);
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.navegacion__enlace:hover,
.navegacion__enlace--activo{
    color:var(--primario);
}

/*bloque footer*/

.footer{
    background-color: var(--obscuro);
    padding: .5rem 0;
    margin-top: 2rem;
}

.footer__parrafo{
    font-family: var(--fuenteprincipal);
    text-align: center;
    font-size: 1rem;
}

/*sección contenido general página principal o index*/

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*el repeat, es lo equivalente a poner 1fr 1fr, repeat es una función que recibe (numero de columnas, tamaño)*/
    column-gap: 2rem;
    row-gap: 2rem;
    /*podemos ahorrarnos las dos líneas anteriores usando solo gap: 2rem;*/
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
        
    }
}

.producto{
    background-color: var(--contraste);
    transition: box-shadow 400ms;
}

.producto:hover{
    box-shadow: 5px 5px 15px var(--gris); 
}


.producto__imagen{
    width: 400px;
    height: 300px;

}

.producto__nombre{
    font-size: 4rem;
    color: var(--primario);
}

.producto__descripcion{
    font-size: 2rem;
    color: var(--obscuro)
}

.producto__nombre,
.producto__descripcion{
    font-family: var(--fuenteprincipal);
    margin: 1rem 0;
    text-align: center;
}

/*sección nosotros*/

.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px){
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__imagen{
    grid-row: 1 / 2; /*el grid-row se utiliza para posicionar elementos, en este caso en las filas*/
    width: 100%;

}

@media (min-width: 768px){
    .nosotros__imagen{
        grid-column: 2 / 3; /*el grid-column se utiliza para posicionar elementos, en este caso en las columnas*/
    
    }
}


.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px){
    .bloques{
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque{
    text-align: center;
}

.bloque__imagen{
    width: 100%;
}

.bloque__titulo{
    margin: 0;
}

.bloque__parrafo,
.nosotros__parrafo{
    color:var(--obscuro);
    margin: 0 1rem;
}


/*Sección para vista general de producto*/


.vistageneral{
    text-align: center;
}

.vistageneral__parrafo{
    color: var(--obscuro);
}

@media (min-width: 768px){
    .vistageneral{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
}

.formulario{ /*Para este selector habilite la vista de grid, pero para acomodar los elementos del formulario*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo{ /*Deje estos valores para cada campo del formulario*/
    width: 100%;
    border: .2rem solid var(--contraste);
    background-color: transparent;
    color: var(--obscuro);
    font-size: 2rem;
    font-family: var(--fuenteprincipal);
    padding: 1rem;
}

.formulario__boton{ /*Se agregegarón los siguientes estilos para el botón del formulario*/
    background-color: var(--blanco);
    border: none;
    font-size: 2rem;
    font-family: var(--fuenteprincipal);
    padding: 1rem;
    transition: background-color 400ms; /*al igual como hicomos en las tarjetas del producto le agregamos una transición en este caso al botón, y a la propiedad background-color*/
    grid-column: 1 / 3;
}

.formulario__boton:hover{
    cursor: pointer;
    background-color: var(--primario);
}
